aiosignal==1.3.1
alabaster==0.7.16
altgraph==0.17.4
async-timeout==4.0.3
attrs==23.2.0
babel==2.17.0
bidict==0.23.1
blinker==1.9.0
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
dnspython==2.6.1
docutils==0.21.2
eventlet==0.36.1
Flask==3.1.0
Flask-SocketIO==5.5.1
flaskwebgui==0.3.7
frozenlist==1.4.1
gevent==24.11.1
greenlet==3.1.1
h11==0.14.0
idna==3.7
imagesize==1.4.1
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.0.5
narwhals==1.29.0
packaging==24.1
pefile==2023.2.7
plotly==6.0.0
psutil==5.9.4
pycparser==2.22
Pygments==2.19.1
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2024.7
PySide2==5.15.2
python-engineio==4.11.2
python-socketio==5.12.1
pywin32-ctypes==0.2.2
requests==2.32.3
shiboken2==5.15.2
simple-websocket==1.0.0
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tomli==2.2.1
urllib3==2.2.1
waitress==3.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
whichcraft==0.6.1
wsproto==1.2.0
yarl==1.9.4
zipp==3.19.2
zope.event==5.0
zope.interface==7.2
